.retangulo {
  position: absolute;
  top: -16%; /* Ajusta a posição do retângulo */
  width: 42vw; /* Largura relativa à largura da viewport */
  height: 24vw; /* Altura relativa à largura da viewport */
  border-radius: 30vw; /* Bordas arredondadas relativas à largura da viewport */
  z-index: -1; /* Coloca o retângulo atrás da imagem */
}

.retangulo.direita {
  right: 7%; /* Ajusta a posição do retângulo */
}

.retangulo.esquerda {
  left: 7%; /* Ajusta a posição do retângulo */
}

/* Cores dos retângulos */
.retangulo.laranja { background-color: var(--laranja); }
.retangulo.azul { background-color: var(--azul); }
.retangulo.amarelo { background-color: var(--amarelo); }

.retangulo-treinamentos {
  position: absolute;
  top: 100px;
  right: 0;
  width: 20vw;
  height: 22vw;
  z-index: -1;
}

/* Media queries para ajustar o tamanho e a posição dos retângulos em diferentes tamanhos de tela */
@media (max-width: 768px) {
  .retangulo {
    top: -8%;
    width: 70vw;
    height: 35vw; /* Ajustado para manter a proporção */
    border-radius: 25vw;
  }

  .retangulo.direita,
  .retangulo.esquerda {
    right: 0;
    left: auto; /* Ajuste para centralizar se necessário */
  }
}

@media (max-width: 480px) {
  .retangulo {
    top: -8%;
    width: 90vw;
    height: 45vw; /* Ajustado para manter a proporção */
    border-radius: 35vw;
  }
}

@media (min-width: 1200px) {
  .retangulo {
    top: -20%; /* Ajustado para melhor visualização em telas grandes */
    bottom: auto;
    width: 42vw; /* Largura relativa à largura da viewport */
    height: 24vw; /* Altura relativa à largura da viewport */
    border-radius: 20vw;
  }

  .retangulo.direita {
    right: 12%;
    left: auto;
  }

  .retangulo.esquerda {
    left: 12%;
    right: auto;
  }

  .retangulo-treinamentos {
    top: 120px;
    width: 15vw;
    height: 18vw;
    border-radius: 20vw 0 0 20vw;
  }
}
