:root {
  --textwhite: #F8F8F8;
  --text: #1A1A1A;
  --bg-cinza: #f5f5fa;
  /* --bg-cinza: rgba(240, 240, 255, 0.8); */
  --bg-branco: #fff;
  --amarelo: #FFAF00;
  --laranja: #FB8A09;
  --laranja-escuro: #FF5700;
  --azul: #1AAAB3;

}

.text {
  color: var(--text);
}

.textwhite {
  color:  var(--textwhite);
}

/* Background Color */
.bg-cinza {
  background-color: var(--bg-cinza);
}

/* roxo Color */
.roxo {
  color: var(--roxo);
}

.verde-escuro {
  color: var(--verde-escuro);
}

.verde-claro {
  color: var(--verde-claro);
}

.lilas-escuro {
  color: var(--lilas-escuro);
}

.lilas-claro {
  color: var(--lilas-claro);
}

.rosa {
  color: var(--rosa);
}

