/* Geral */
.header {
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 0.5px solid var(--bg);
  position: fixed;
  top: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.header-contacts-background {
  background-color: var(--amarelo); /* Cor do fundo amarelo */
  padding: 4px 0;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.contact-item img {
  margin-right: 5px;
  width: 20px;
}

.contact-info a {
  font: 400 0.8rem/1.4 'Poppins', sans-serif;
  color: var(--textwhite);
  transition: opacity 0.3s ease;
}

.contact-info a:hover {
  opacity: 0.7;
}

.contact-text {
  display: inline; /* Assegura que o texto é visível por padrão */
}

.social-instagram {
  display: flex;
  align-items: center;
}

.header_menu {
  box-sizing: border-box;
  height: 100%;
  padding: .4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

[data-menu="logo"] {
  width: 8%;
  height: auto;
}

.header-direita,
.social-icons-header {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

nav.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul[data-menu="list"] {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.4rem;
  align-items: center;
}

.menu li {
  align-self: center;
  position: relative; /* Necessário para posicionar a seta */
}

ul[data-menu="list"] li a {
  font: 600 1rem/1.4 'Poppins', sans-serif;
  color: var(--text);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px 8px;
  line-height: 1;
  align-items: center;
  position: relative;
  cursor: pointer; /* Aplica o cursor de mãozinha em todos os links e spans */
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1; /* Opacidade total quando não está no estado de hover */
}

ul[data-menu="list"] li a:hover {
  opacity: 0.7 !important
}

/* Estilo adicional para o mobile */
@media (max-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--bg);
  }

  [data-menu="logo"] {
    width: 24%;
  }

  .header a > img {
    width: 100%;
  }

  .header_menu {
    padding: 0.5rem 0;
  }

  .menu-button {
    display: none;
  }

  .header-contacts{
    justify-content: center;
    gap: 10px
  }

  .contact-info {
   gap: 10px
  }

  .contact-text {
    display: none; /* Esconde o texto em dispositivos móveis */
  }

  .hidden {
    display: none;
}

}
