/* Geral */
.header {
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 0.5px solid var(--bg);
  position: fixed;
  top: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.header-contacts-background {
  background-color: var(--amarelo); /* Cor do fundo amarelo */
  padding: 4px 0;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info img {
  margin-right: 5px;
  width: 20px;
}

.contact-info a {
  font: 400 0.8rem/1.4 'Poppins', sans-serif;
  color: var(--textwhite);
  margin-right: 20px; /* Ajuste conforme necessário para mais espaço entre os itens */
  transition: opacity 0.3s ease; /* Adiciona uma transição suave para o efeito de hover */
}

.contact-info a:hover {
  opacity: 0.7; /* Define a opacidade ao passar o mouse */
}

.social-instagram {
  display: flex;
  align-items: center;
}

.header_menu {
  box-sizing: border-box;
  height: 100%;
  padding: .4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

[data-menu="logo"] {
  width: 8%;
  height: auto;
}

.header-direita,
.social-icons-header {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

nav.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul[data-menu="list"] {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.4rem;
  align-items: center;
}

.menu li {
  align-self: center;
  position: relative; /* Necessário para posicionar a seta */
}

.menu li a {
  font: 400 1rem/1.4 'Poppins', sans-serif;
  color: var(--text);
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px 8px;
  line-height: 1;
  align-items: center;
  position: relative;
  cursor: pointer; /* Aplica o cursor de mãozinha em todos os links e spans */
  transition: transform 0.3s ease, opacity 0.3s ease;
}
/* Estilo para o item de menu com submenu */
.has-submenu {
  position: relative; /* Necessário para posicionar absolutamente o submenu */
}

.has-submenu > span {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.has-submenu:hover .submenu {
  display: flex;
  flex-direction: column; /* Exibe o submenu quando o mouse está sobre o item */
  align-items: flex-start;
}

/* Estilo para o submenu */
.submenu {
  display: none; /* Esconde o submenu por padrão */
  position: absolute;
  top: 100%; /* Posiciona logo abaixo do item do menu */
  left: 0; /* Alinha o submenu à esquerda com o item do menu */
  list-style: none;
  padding: 10px;
  margin: 0;
  z-index: 1000; /* Um valor alto para garantir que esteja acima de outros elementos */
  border-radius: 8px; /* Bordas arredondadas para um visual moderno */
  white-space: nowrap;
  width: max-content; /* Ajusta a largura ao conteúdo, evitando quebra de linha */
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden; /* Controla a visibilidade para a transição */
  background-color: var(--amarelo); /* Substitua '--amarelo' pela cor desejada */
}

.has-submenu:hover .submenu {
  opacity: 1;
  visibility: visible; /* Torna o submenu visível no hover */
}

/* Estilo para os itens do submenu */
.submenu li {
  padding: 2px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para o hover */
}

.submenu li:hover {
  background-color: var(--azul); /* Cor de fundo no hover */
  color: #ffffff; /* Cor do texto no hover */
  border-radius: 4px; /* Bordas arredondadas no hover */
}
/* Estilo para a seta do submenu */
.submenu-arrow {
  transition: transform 0.3s ease;
  margin-left: auto; /* Empurra a seta para o lado direito */
}

.has-submenu > span:hover .submenu-arrow {
  transform: rotate(180deg);
}

/* Exibir o submenu no hover para desktop */
@media (min-width: 769px) {
  .has-submenu:hover .submenu {
    display: flex !important; /* Mostra o submenu no hover */
    gap: 4px;
  }
  
  /* Rotaciona a seta no hover para o desktop */
  .has-submenu:hover .submenu-arrow {
    transform: rotate(180deg); /* Rotação da seta para cima */
  }
}

/* Estilo adicional para o mobile */
@media (max-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--bg);
  }

  [data-menu="logo"] {
    width: 24%;
  }

  .header a > img {
    width: 100%;
  }

  .header_menu {
    padding: 0.5rem 0;
  }

  .menu-button {
    display: none;
  }

 .has-submenu {
    position: relative; /* Garante que o z-index funcione corretamente */
  }

  .has-submenu > span {
    display: block;
  }

.submenu {
  display: none;
  position: relative; /* Usar relative no mobile */
  top: 0; /* Reseta a posição top */
  left: 0; /* Reseta a posição left */
  width: 100vw; /* Assume a largura total do elemento pai */
  background-color: var(--laranja);
  z-index: 1050; /* Ajuste conforme necessário para garantir visibilidade */
  padding: 0px;
  margin: 0;
  border-radius: 0px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: opacity 0.3s, visibility 0.3s;
}
.submenu.active {
    display: block; /* Exibe o submenu quando ativado */
    opacity: 1;
    visibility: visible;
}

  .submenu li {
    width: 100%; /* Faz os itens ocuparem toda a largura */
    text-align: center; /* Centraliza o texto */
    padding: 0; /* Ajusta o padding */
  }

  .contact-info {
   gap: 10px
  }

  .contact-info a {
    display: none;
  }
}
