.introducao.pg-interna {
  display: flex;
  justify-content: flex-start;
  height: 70vh;
  width: 100%;
  /* background: url('../img/quebra-cabeca-azul.svg') no-repeat center center; */
  background: linear-gradient(90deg, #1AAAB3 8%, #00DFED 100%);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;  
  position: relative;
}

.introducao.pg-interna::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #1AAAB3 8%, #00DFED 100%);
  z-index: -1; /* Certifique-se de que o overlay fique acima da imagem */
}

.introducao-texto.pg-interna {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o texto verticalmente dentro do container */
  align-items: flex-start; /* Alinha o texto à esquerda */
  gap: 4px;
  padding: 0 20px;
  z-index: 2; /* Garante que o texto apareça sobre a imagem */
  max-width: 1200px; /* Ajusta o tamanho máximo do container para centralizar */
  width: 100%; /* Garante que o conteúdo não ultrapasse os limites do container */
  position: relative; /* Mantém o texto na hierarquia correta */
  transform: translateY(8px); 
}

/* Novo elemento SVG */
.introducao.pg-interna .svg-decorativo {
  position: absolute;
  top: 100px;
  right: 0;
  width: 278px; /* Ajuste o tamanho conforme necessário */
  height: 305px; /* Ajuste o tamanho conforme necessário */
  z-index: 1; /* Certifique-se de que o SVG fique acima do overlay, mas abaixo do texto */
}

@media (max-width: 768px) { 
  .introducao .wave-bottom {
    bottom: -5px; 
  }

  .introducao-texto.pg-interna {
    transform: translateY(30px); 
  }
}
